[submodule "scoop"]
	path = scoop
	url = https://github.com/BosEriko/scoop.git
[submodule "powertoys"]
	path = powertoys
	url = https://github.com/BosEriko/powertoys.git
[submodule "glaze"]
	path = glaze
	url = https://github.com/BosEriko/glaze.git
[submodule "vs"]
	path = vs
	url = https://github.com/BosEriko/vs.git
[submodule "wsl"]
	path = wsl
	url = https://github.com/BosEriko/wsl.git
[submodule "debian"]
	path = debian
	url = https://github.com/BosEriko/debian.git